<base href="[Tab:FullUrl]/" />

<div sxc-app="references" id="app-[Module:ModuleId]" ng-cloak class="ng-cloak" ng-init="config = { rootUrl: '[Tab:FullUrl]', appPath: '[App:Path]'}">
    <div ng-view></div>

    <script type="text/ng-template" id="referenceList.html">
        <update-meta name="DESCRIPTION" content="{{vm.getMetaDescription()}}"></update-meta>
        <h1>{{vm.appResources.ListTitle}}</h1>
        <div class="clearfix co-reference-categories">
            <div style="float:left;" class="sc-element">
                <a class="btn btn-default" ng-class="{ 'active': vm.activeCategory == 'all' }" ng-href="{{config.rootUrl}}/cat/all">
                    All
                </a>
            </div>
            <div ng-repeat="c in vm.categories" style="float:left;" class="sc-element co-reference-category">
                <a class="btn btn-default" ng-class="{ 'active': c.Name == vm.activeCategory }" ng-href="{{config.rootUrl}}/cat/{{c.Name}}">
                    {{c.Title}}
                </a>
                <sxc-toolbar for-id="c.Id"></sxc-toolbar>
            </div>
            <ul class="sc-menu" data-toolbar='{ "attributeSetName": "Category", "action":"new" }'></ul>
        </div>
        <div class="co-references row">
            <div class="col col-sm-12 col-md-6 sc-element" ng-repeat="ref in vm.items | filter: vm.referenceFilter">
                <sxc-toolbar for-id="ref.Id"></sxc-toolbar>
                <div class="co-reference">
                    <div class="row">
                        <div class="col col-xxs col-xs-6 col-sm-6 co-reference-image-box">
                            <img ng-if="!ref.PreviewImage || ref.PreviewImage == ''" ng-src="{{config.appPath}}/images/placeholder.png" class="co-reference-image-box-placeholder" />
                            <img ng-if="ref.PreviewImage && ref.PreviewImage != ''" ng-src="{{ref.PreviewImage}}?w=496&h=370&mode=crop&scale=both" />
                        </div>
                        <div class="col col-xxs col-xxs col-xs-6 col-sm-6">
                            <div class="co-reference-text">
                                <span><strong>{{ref.Title}}</strong></span><br>
                                <p>{{ref.Description | htmlToPlainText | cropText:40}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default" ng-href="{{config.rootUrl}}/reference/{{ref.UrlPath}}">{{vm.appResources.DetailsButton}}</a>
                </div>
            </div>
        </div>
		<ul class="sc-menu" data-toolbar='{ "attributeSetName": "Reference", "action":"new" }'></ul>
    </script>

    <script type="text/ng-template" id="referenceDetail.html">
        <div class="co-reference-detail">
            <h1>{{vm.r.Title}}</h1>
            <div class="row">
                <div class="col col-sm-12 col-md-6 col-md-push-6">
                    <owl-carousel owl-options="vm.owlOptions" class="co-gallery" ng-if="vm.images">
                        <div owl-carousel-item ng-repeat="image in vm.images" class="co-gallery-slide">
                            <a rel="{{vm.r.ReferenceNumber}}" class="fancybox" ng-href="{{image.Url}}?w=990&amp;h=990&amp;mode=max&amp;quality=50"><img class="co-gallery-image" ng-src="{{image.Url}}?w=596&amp;h=412&amp;mode=crop&amp;scale=both" /></a><!--owl-carousel-item-lightbox-->
                        </div>
                    </owl-carousel>
                </div>
                <div class="col col-sm-12 col-md-6 col-md-pull-6 co-reference-detail-description">
                    <div ng-bind-html="vm.r.trustedDescription"></div><br />
                    <table class="table table-striped co-reference-detail-table">
                        <tr ng-if="vm.r.Client">
                            <td>
                                <strong>Bauherr</strong>
                            </td>
                            <td>{{vm.r.Client}}</td>
                        </tr>
                        <tr ng-if="vm.r.Architect">
                            <td>
                                <strong>Architekt</strong>
                            </td>
                            <td>{{vm.r.Architect}}</td>
                        </tr>
                        <tr ng-if="vm.r.Management">
                            <td>
                                <strong>Bauleitung</strong>
                            </td>
                            <td>{{vm.r.Management}}</td>
                        </tr>
                        <tr ng-if="vm.r.Services">
                            <td><strong>Unsere Leistungen</strong></td>
                            <td>
                                {{vm.r.Services}}
                            </td>
                        </tr>
                        <tr ng-if="vm.r.StartDate || vm.r.EndDate">
                            <td><strong>Bauzeit</strong></td>
                            <td>
                                <span ng-if="vm.r.StartDate">{{vm.r.StartDate | date: 'MMMM yyyy' }}</span>
                                <span ng-if="vm.r.EndDate">bis {{vm.r.EndDate | date: 'MMMM yyyy' }}</span>
                            </td>
                        </tr>
                        <tr ng-if="vm.r.trustedLinks">
                            <td><strong>Links</strong></td>
                            <td ng-bind-html="vm.r.trustedLinks"></td>
                        </tr>
                    </table>
                    <br>
                    <a class="btn btn-default" href="{{config.rootUrl}}/cat/{{vm.previousCategory}}">&lt; zurück</a>
                </div>
            </div>
        </div>
    </script>
</div>

<script type="text/javascript" src="/DesktopModules/ToSIC_SexyContent/JS/2sxc.api.min.js" data-enableoptimizations="100"></script>
<script src="/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular.min.js" data-enableoptimizations="101"></script>


<script src="/DesktopModules/ToSIC_SexyContent/Js/AngularJS/2sxc4ng.min.js" data-enableoptimizations="104"></script>





<script src="[App:Path]/dist/js/libraries-set.js" data-enableoptimizations="112"></script>
<script src="[App:Path]/dist/js/references-set.js" data-enableoptimizations="113"></script>
<link rel="stylesheet" href="[App:Path]/dist/css/libraries-set.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="[App:Path]/dist/css/references-set.css" data-enableoptimizations="true" />